* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1, h2 {
  font-family: Lato;
  text-align: center;
}

img {
  width: 25vw;
  height: auto;
}

body {
  display: grid;
  grid-template-areas: "name first second"
                        "week first second"
                        ". first third"
                        ". first third"
                        "left . right";
  grid-template-rows: 24vh 24vh 24vh 24vh 4vh;
  grid-template-columns: 20vw 60vw 20vw;
}

#main {
  grid-area: "first";
}

#second {
  grid-area: "second";
}

#third {
  grid-area: "third";
}

#title {
  grid-area: "name";
}

#img {
  grid-area: "first";
}

button {
  border-radius: 50%;
  height: auto;
  width: ;
  margin-top: 15vh;
  border: 0px solid black;
  background-color: black;
  color: white;
}